@model IEnumerable<MenuItemDTO>
@using RookieAssignment.Shared.DTOs

@if(Model.Count() > 0)
{
    <div class="col-12 elements @Model.FirstOrDefault().Category.Name.Replace(" ",string.Empty)">
        <div class="row">
            <h3 class="text-success my-4">@Model.FirstOrDefault().Category.Name</h3>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card mr-3 mb-3">
                    <img class="card-img-top" src="@item.Image" style="border-radius:5px; border: 1px solid #bbb9b9; width:250px;" />
                    <div class="card-body text-center">
                        <h4 class="card-title">@item.Name</h4>
                        <p class="card-text"><span>@item.Price</span>&nbsp; VND</p>
                        <a asp-action="Detail" class="btn btn-info form-control" asp-route-id="@item.Id">Detail</a>
                    </div>
                </div>
            }
        </div>
    </div>

}

